<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EmailChecker.Properties.Server" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <EmailChecker.Properties.Server>
            <setting name="Pop3Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="Pop3ServerPortNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseSSLForPop3Server" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveCopyInServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="EnforceCheckMailFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTPServerPortNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseSSLForSMTPServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailCheckInterval" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="RecordCompareTime" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="AcknowledgementWaitingTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendEmailWhenAlarmInitiated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailAddresses" serializeAs="String">
                <value/>
            </setting>
            <setting name="AlertFilePath" serializeAs="String">
                <value/>
            </setting>
        </EmailChecker.Properties.Server>
    </userSettings>
</configuration>
